bin/
.DS_Store
*.sw?
*.db
.idea*
*cmake*/
*CMakeCache.txt
*Makefile
*CMakeFiles/*
*.a
*CMakeLists.txt.user
*CMakeFiles
*CMakeScripts
*Testing
*cmake_install.cmake
*install_manifest.txt
*compile_commands.json
*CTestTestfile.cmake
*_deps
*CMakeUserPresets.json
