fuck selinux policies

type valord, domain;
type valord_exec, exec_type, file_type;

init_daemon_domain(valord)
domain_auto_trans(init, valord_exec, valord)

allow valord untrusted_app:process sigkill;
allow valord untrusted_app:file    read;
allow valord valord:file      read;

